/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  font-family: $text-primary-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
}

.button {
  font-family: $header-primary-font;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b73b;
}

