/* здесь используйте глобальные переменные */
$text-primary-font: "Lato", "Arial", sans-serif;
$header-primary-font: "Oswald", "Arial", sans-serif;

$header-primary-color: #000000;
$text-primary-color: #444444;
$light-text-color: #ffffff;
$decorative-numbers-color: #f2f2f2;

$light-background-color: #ffffff;
$darker-background-color: #f2f2f2;
$example-background-color: #eaeaea;
$cats-gradient-color: rgba(105, 183, 56, 0.85);

$footer-color: #666666;
$footer-active-color: #68b738;

$logo-color: #111111;
$logo-hover-color: #3e3e3e;
$logo-active-color: #6b6b6b;

$button-color: #68b73b;
$button-hover-color: #5eaa2f;
$all-goods-button-color: #f2f2f2;
$all-goods-button-hover-color: #ebebeb;

$slider-toggle-color: #666666;
$slider-toggle-hover-color: #68b738;
$slider-toggle-active-color: #5eaa2f;

$divider-line-color: #d9d9d9;
$extra-line-color: #cdcdcd;
$example-border-color: #e6e6e6;
$catalog-items-border-color:#ebebeb;
$catalog-heading-line-color: #68b738;
$input-field-border-color: #e7e7e7;
$input-field-error-color: #ff8282;

$max-mobile-width: 767px;
$tablet-width: 768px;
$max-tablet-width: 1439px;
$desktop-width: 1440px;
