/* здесь используйте глобальные переменные */
$text-primary-font: "Lato", "Arial", sans-serif;
$header-primary-font: "Oswald", "Arial", sans-serif;

$header-primary-color: #000000;
$text-primary-color: #444444;
$light-text-color: #ffffff;

$light-background-color: #ffffff;
$darker-background-color: #f2f2f2;

$footer-color: #666666;
$footer-active-color: #68b738;
