.copyright {
  text-decoration: none;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  color: $text-primary-color;
}

.copyright:active {
  opacity: 0.3;
}

.copyright::after {
  content: "";
  display: block;
  width: 27px;
  height: 34px;
  background-color: $footer-color;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("../../icons/stack.svg#icon-html-academy");
}

.copyright:hover::after,
.copyright:focus-visible::after,
.copyright:active::after {
  background-color: $footer-active-color;
}
