.example {
  background-color: #eaeaea;
}

.example__title {
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $header-primary-color;
}

.example__number {
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $header-primary-color;
}

.example__description {
  font-size: 12px;
  line-height: 12px;
}

.example__price {
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $header-primary-color;
}

.example__slider {
  list-style-type: none;
  padding: 0;
}
