.extra-goods__title {
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $header-primary-color;
}

.extra-goods__content-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
}

.extra-goods__list {
  list-style-type: none;
  padding: 0;
  margin: 36px 0 35px;

  @media (min-width: $tablet-width) {
    margin: 80px 30px 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 80px 0 110px;
  }
}

.extra-goods__item {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 708px;
    padding: 0 38px 28px;
    outline: 1px solid $extra-line-color;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0;
    width: 894px;
    outline: none;
    border-top: 1px solid $extra-line-color;
  }
}

.extra-goods__take-all {
  box-sizing: border-box;
  display: block;
  width: 280px;
  margin: 0 20px;
  padding: 186px 0 43px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: $light-text-color;
  background-color: rgba(104, 183, 56, 0.85);
  background-repeat: no-repeat;
  background-size: 78px 80px;
  background-position: center 60px;
  background-image: url("../../icons/stack.svg#icon-gift");

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 30px;
    padding: 70px 125px 70px 420px;
    text-align: left;
    background-position: 77px center;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 0;
    padding: 185px 42px 43px;
    text-align: center;
    background-position: center  56px;
  }
}
