.features {
  padding: 0 20px;
}

.features__title {
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $header-primary-color;
}

.features__list {
  list-style-type: none;
  padding: 0;
}

.features__item {
  position: relative;
  margin: 0 0 24px 80px;
  min-width: 200px;
}

.features__item::before {
  position: absolute;
  left: -80px;
  bottom: center;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.features__item--nutrition::before {
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-size: 30px 32px;
}

.features__item--powder::before {
  background-image: url("../../icons/stack.svg#icon-pot");
  background-size: 26px 28px;
}

.features__item--eat::before {
  background-image: url("../../icons/stack.svg#icon-eat");
  background-size: 25px 30px;
}

.features__item--changes::before {
  background-image: url("../../icons/stack.svg#icon-balance");
  background-size: 26px 31px;
}
