.invite-dealers__title {
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.invite-dealers__address-street,
.invite-dealers__address-town {
  font-style: normal;
}
