.main-footer {
  background-color: $darker-background-color;
}

.main-footer__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
    padding: 55px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 66px 0;
  }
}

.main-footer__logo {
  position: relative;
  display: block;
  min-width: 128px;
  min-height: 24px;
  mask-image: url("../../images/logo-cat-energy.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: $logo-color;

  @media (min-width: $tablet-width) {
    margin: 0 35px 0 0;
  }
}

.main-footer__logo:hover,
.main-footer__logo:focus-visible {
  background-color: $logo-hover-color;
}

.main-footer__logo:active {
  background-color: $logo-active-color;
}

.main-footer__social {
  position: relative;
}

//Полоски между элементами меню в мобильной версии
@media (max-width: $max-mobile-width) {
  .main-footer__social::before,
  .main-footer__social::after {
    position: absolute;
    left: -68px;
    width: 280px;
    height: 1px;
    background-color: $divider-line-color;
    content: "";
  }

  .main-footer__social::before {
    top: -20px;
  }

  .main-footer__social::after {
    bottom: -20px;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 280px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}
