.good-card__link {
  text-decoration: none;
}

.good-card__title {
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.good-card__feature {
  font-size: 12px;
  line-height: 16px;
}

.good-card__button {
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.good-card__title--show-all {
  display: block;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding-top: 78px;
  background-repeat: no-repeat;
  background-image: url("../../icons/stack.svg#icon-plus");
  background-size: 30px 30px;
  background-position: center 25px;
}

.good-card__feature--show-all {
  text-align: center;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 21px;
}

.good-card__button--show-all {
  color: $text-primary-color;
  background-color: #f2f2f2;
}
