.good-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  align-items: start;

  @media (min-width: $tablet-width) {
    grid-template-columns: 250px;
    grid-template-rows: auto auto 1fr auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 170px;
  }
}

.good-card__link-picture {
  text-decoration: none;
  grid-column: 1/2;
  grid-row: 1/3;

  @media (min-width: $tablet-width) {
    display: block;
    grid-row: 1/2;
    margin: -72px auto 0;
  }
}

.good-card__link-title {
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 22px auto 0;
  }

  @media (min-width: $desktop-width) {
    margin: 12px auto 0;
  }
}

.good-card__title {
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 76px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 135px;
  }
}

.good-card__image {
  display: block;
  object-fit: cover;
  width: 140px;
  height: 107px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.good-card__features-list {
  margin: 14px 0 21px;
  grid-column: 2/3;
  grid-row: 2/3;

  @media (min-width: $tablet-width) {
    margin: 21px 0 32px;
    grid-column: 1/2;
    grid-row: 3/4;
  }

  @media (min-width: $desktop-width) {
    margin: 23px 0 37px;
  }
}

.good-card__feature {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding: 5px 0;
    border-bottom: 1px solid $extra-line-color;
    font-size: 16px;
    line-height: 20px;
  }
}

.good-card__button {
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 10px;
  grid-column: 1/3;
  grid-row: 3/4;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

.good-card__title--show-all {
  display: block;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding-top: 78px;
  width: 280px;
  background-repeat: no-repeat;
  background-image: url("../../icons/stack.svg#icon-plus");
  background-size: 30px 30px;
  background-position: center 25px;
  grid-column: 1/3;
  grid-row: 1/2;

  @media (min-width: $tablet-width) {
    width: 250px;
    align-self: center;
    padding: 160px 40px 23px;
    background-size: 60px 60px;
    background-position: center 50px;
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    padding: 150px 0 26px;
  }
}

.good-card__feature--show-all {
  display: block;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 21px;
  grid-column: 1/3;
  grid-row: 2/3;

  @media (min-width: $tablet-width) {
    width: 250px;
    align-self: center;
    padding: 0 40px 82px;
    grid-column: 1/2;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    padding: 0 0 90px;
    grid-column: 1/2;
  }
}

.good-card__button--show-all {
  color: $text-primary-color;
  background-color: $all-goods-button-color;
}

.good-card__button--show-all:hover,
.good-card__button--show-all:active {
  color: $text-primary-color;
  background-color: $all-goods-button-hover-color;
}
