.hero {
  background:
    linear-gradient(to top, #ffffff 180px, rgba(105, 183, 56, 0.85) 180px),
    image-set(
      url("../../images/index-cat-background-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/index-cat-background-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/index-cat-background-mobile@1x.jpg") type("image/jpeg") 1x,
      url("../../images/index-cat-background-mobile@2x.jpg") type("image/jpeg") 2x) no-repeat center top,
    linear-gradient(to top, #ffffff 180px, #4e4d52 180px);
  padding: 27px 0 0;

  @media (min-width: $tablet-width) {
    background: none;
    background-color: $light-background-color;
    padding: 65px 0 0;
    width: 708px;
    margin: 0 auto;
    display: grid;
    align-items: start;
    grid-template-rows: auto auto auto;
    grid-template-columns: 708px;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    padding: 29px 0 0;
    width: 1220px;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 447px 1fr;
  }
}

.hero__title {
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $light-text-color;
  width: 250px;
  margin: 0 auto 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $header-primary-color;
    width: 420px;
    margin: 0 0 40px 90px;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    margin: 80px 0 40px 80px;
    grid-column: 1/3;
  }
}

.hero__slogan {
  font-family: $header-primary-font;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $light-text-color;
  width: 250px;
  margin: 0 auto 31px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $header-primary-color;
    width: 420px;
    margin: 0 0 21px 90px;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px 80px;
    grid-column: 1/3;
  }
}

.hero__picture {
  width: 280px;
  height: 270px;
  margin: 0 auto 4px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 609px;
    margin: 0;
    grid-column: 1/2;
    grid-row: 3/4;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    grid-column: 2/3;
    grid-row: 1/-1;
  }
}

.hero__find-program {
  font-family: $header-primary-font;
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 244px;
    padding: 14px;
    margin: 29px 0 0 90px;
    grid-column: 1/2;
    grid-row: 3/4;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 80px;
  }
}
