.hero {
  background-color: rgba(104, 183, 56, 0.85);
  padding: 27px 35px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    background-color: $light-background-color;
    padding: 65px 0;
    width: 704px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.hero__title {
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $light-text-color;
  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $header-primary-color;
    width: 420px;
    margin: 0 0 40px 90px;
  }
}

.hero__slogan {
  font-family: $header-primary-font;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $light-text-color;
  margin: 0 0 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $header-primary-color;
    margin: 0 0 50px 90px;
  }
}

.hero__find-program {
  font-family: $header-primary-font;
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 244px;
    padding: 14px 26px;
    margin: 0 0 15px 90px;
  }
}
