.hero {
  background-color: rgba(104, 183, 56, 0.85);
}

.hero__title {
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $light-text-color;
}

.hero__slogan {
  font-family: $header-primary-font;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $light-text-color;
}

.hero__find-program {
  font-family: $header-primary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
