.invite-dealers {
  position: relative;
}

.invite-dealers__text-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 110px;
    top: 95px;
    background-color: $light-background-color;
    width: 565px;
    padding: 60px 80px;
  }
}

.invite-dealers__title {
  display: block;
  width: 140px;
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 160px;
    font-size: 20px;
    line-height: 26px;
  }
}

.invite-dealers__address-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 140px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 160px;
    font-size: 16px;
  }
}

.invite-dealers__address-street,
.invite-dealers__address-town {
  font-style: normal;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}
