.page {
  font-family: $text-primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $text-primary-color;
  background-color: $light-background-color;
}

.page__body {
  margin: 0;
  padding: 0;
  position: relative;
}

.page__body::before {
  @media (min-width: $desktop-width) {
    display: block;
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    min-height: 694px;
    background:
      linear-gradient(to top, #ffffff 1px, rgba(105, 183, 56, 0.85) 1px),
      url("../../images/index-cat-background-desktop@1x.jpg") no-repeat center right,
      linear-gradient(to top, #ffffff 1px, #4e4d52 1px);
  }
}
