.page {
  font-family: $text-primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $text-primary-color;
  background-color: $light-background-color;
}

.page__body {
  margin: 0;
  padding: 0;
  position: relative;
}

.page__body--index::before {
  @media (min-width: $desktop-width) {
    display: block;
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    min-height: 694px;
    background:
      linear-gradient(to top, $cats-gradient-color, $cats-gradient-color),
      image-set(
        url("../../images/index-cat-background-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/index-cat-background-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/index-cat-background-desktop@1x.jpg") type("image/jpeg") 1x,
        url("../../images/index-cat-background-desktop@2x.jpg") type("image/jpeg") 2x) no-repeat center right,
      linear-gradient(to top, #4e4d52, #4e4d52);
  }
}
