.page {
  font-family: $text-primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $text-primary-color;
  background-color: $light-background-color;
}

.page__body {
  margin: 0;
  padding: 0;
}
