.site-list__link {
  display: block;
  position: relative;
  padding: 22px 10px 24px;
  font-family: $header-primary-font;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $header-primary-color;
  border-top: 1px solid $example-border-color;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: $light-text-color;
  }
}

.site-list__link:last-child {
  border-bottom: 1px solid $example-border-color;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.site-list--catalog .site-list__link {
  @media (min-width: $desktop-width) {
    color: $header-primary-color;
  }
}

.site-list__link:hover,
.site-list--catalog .site-list__link:hover {
  opacity: 0.6;
}

.site-list__link:active,
.site-list--catalog .site-list__link:active {
  opacity: 0.3;
}

//Полоска, выделяющая текущий пункт меню.
.site-list__link--current::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    right: 1px;
    left: 1px;
    bottom: -8px;
    height: 2px;
    background-color: $catalog-heading-line-color;
    content: "";
  }

  @media (min-width: $desktop-width) {
    background-color: $light-background-color;
  }
}

.site-list--catalog .site-list__link--current::after {
  @media (min-width: $desktop-width) {
    background-color: $catalog-heading-line-color;
  }
}
