.subscribe {
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 80px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 96px 0;
  }
}

.subscribe__title {
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.subscribe__content-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.subscribe__description {
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  width: 280px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 0;
  }
}
