.subscribe__title {
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.subscribe__description {
  font-family: $header-primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
